/*header*/
header{
    text-align: center;
    background-color: black;
    color: white;
}

header li{
    list-style:  none;
    display: inline-block;
}

header a{
    color: white;
}
/*end header*/